---
const { link, title, image, body, date } = Astro.props
---

<div class='bg-white border rounded-lg lg:px-2 lg:flex lg:items-center'>
  <a href={link} class='lg:flex lg:items-center'>
    <img
      src={image}
      alt='entrada de un hogar'
      class='rounded-t-lg w-full h-56 bg-center bg-cover object-cover lg:w-52 lg:h-52 lg:shrink-0'
    />

    <div class='p-4 space-y-3'>
      <h2 class='italic'>{date}</h2>
      <h3 class='text-2xl font-bold'>{title}</h3>

      <p class='font-normal text-gray-700'>
        {body}
      </p>
    </div>
  </a>
</div>
