---
const { href, title, body, src, h6 } = Astro.props
---

<body>
  <a
    href={href}
    class='flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700'
  >
    <img
      class='object-cover w-full h-full rounded-t-lg md:h-auto md:w-48 md:rounded-none md:rounded-s-lg'
      src={src}
      alt=''
    />
    <div class='flex flex-col justify-between p-4 leading-normal'>
      <h6 class='text-xs italic tracking-tight' style='color: #393b3c;'>
        Rommel Pravia
      </h6>
      <h6 class='text-xs italic tracking-tight' style='color: #393b3c;'>
        {h6}
      </h6>
      <h5
        class='mb-2 text-2xl font-bold tracking-tight'
        style='color: #393b3c;'
      >
        {title}
      </h5>
      <p class='mb-3 font-normal' style='color: #393b3c;'>
        {body}
      </p>
    </div>
  </a>
</body>

<style>
  body {
    width: 960px;
    margin: 60px auto 20px;
  }
</style>
